#questionnaire-list{
  .btn-wrapper{
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .questionnaire-block{
    margin-bottom: 20px;
    img{
      border-bottom: 1px solid $grey;
      height: 200px;
      width: auto;
    }
  }
  .pagination{
    width: fit-content;
    margin: auto;
  }
}

#show-questionnaire{
  .image{
    text-align: center;
    img{
      max-height: 400px;
    }
  }
}