<template>
    <div class="container">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form @submit.prevent="authenticate">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" v-model="form.email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" v-model="form.password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login">
                    </div>
                    <div class="alert alert-danger" v-if="authError">
                        {{ authError }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {login} from '../../helpers/auth';

    export default {
        name: "login",
        data() {
            return {
                form: {
                    email: '',
                    password: '',
                },
            }
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');
                login(this.form)
                    .then(res => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({ name: 'home' });
                    })
                    .catch(error => {
                        this.$store.commit("loginFailed", {error});
                    });
            }
        },
        computed: {
            authError(){
                return this.$store.getters.authError;
            }
        }
    }
</script>