<template>
    <div class="container">
        <div class="card">
            <div class="card-header">Register</div>
            <div class="card-body">
                <form @submit.prevent="signUp">
                    <div class="form-group">
                        <label for="name">Full name:</label>
                        <input type="text" name="name" v-model="form.name" class="form-control" placeholder="Full Name">
                        <span class="error-message" v-if="error.name">{{ error.name[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" v-model="form.email" class="form-control" placeholder="Email Address">
                        <span class="error-message" v-if="error.email">{{ error.email[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" v-model="form.password" class="form-control" placeholder="Password">
                        <span class="error-message" v-if="error.password">{{ error.password[0] }}</span>
                    </div>
                    <div class="form-group">
                        <label for="password-confirmation">Repeat password:</label>
                        <input type="password" name="password-confirmation" v-model="form.passwordConfirmation" class="form-control" placeholder="Password">
                        <span class="error-message" v-if="error.password">{{ error.password[0] }}</span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {register} from '../../helpers/auth';

    export default {
        name: "register",
        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                    passwordConfirmation: ''
                },
                error: {}
            }
        },
        methods: {
            signUp() {
                this.error = {};

                register(this.form)
                    .then(res => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({ name: 'home' });
                    })
                    .catch(error => {
                        this.error = error;
                    });
            }
        }
    }
</script>