<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <template v-if="!currentUser">
                    <li>
                        <router-link :to="{ name: 'login' }" class="nav-link">Login</router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'register' }" class="nav-link">Register</router-link>
                    </li>
                </template>
                <template v-else>
                    <li>
                        <router-link :to="{ path: '/questionnaires' }" class="nav-link">Questionnaires</router-link>
                    </li>
                    <li>
                        <a href="#" @click.prevent="logout" class="nav-link">Logout</a>
                    </li>
                </template>
            </ul>
        </div>
    </nav>
</template>
<script>
    export default{
        name: 'app-header',
        methods: {
            logout(){
                this.$store.commit('logout');
                this.$router.push({ name: 'login' });
            }
        },
        computed: {
            currentUser(){
                return this.$store.getters.currentUser;
            }
        }
    }
</script>