<template>
    <div id="rezervyo">
        <header-app></header-app>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import HeaderApp from './HeaderApp.vue';

    export default {
        name: 'main-app',
        components: {HeaderApp}
    }
</script>
