<template>
    <div id="questions-list">
        <template v-if="questions.length">
            <div class="card" v-for="(question, index) in questions">
                <div class="card-header">
                    {{ question.question }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ANSWER 1</li>
                    <li class="list-group-item">ANSWER 2</li>
                    <li class="list-group-item">ANSWER 3</li>
                </ul>
                <button class="btn btn-danger" @click="deleteQuestion(question.id, index)">DELETE</button>
            </div>
        </template>
        <template v-else>
            There aren't any questions attached to this questionnaire
        </template>
        <div class="btn-wrapper text-right">
            <router-link :to="`/questionnaires/${ this.$route.params.id }/edit/questions/create`" class="btn btn-primary">ADD QUESTION</router-link>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'list',

        data() {
            return{
                questions: {}
            }
        },

        mounted(){
            axios.get(`/api/questions/${ this.$route.params.id }`)
                .then((response) => {
                    this.questions = response.data.questions;
                });
        },

        methods: {
            deleteQuestion(question_id, index){
                axios.delete(`/api/questions/${ question_id }`)
                    .then((response) => {
                        if(response.status === 200){
                            delete this.questions.splice(index, 1);
                        }
                    });
            }
        }
    }
</script>