<template>
    <div>
        <form @submit.prevent="store">
            <div class="form-group">
                <label for="questionnaire-title">Questionnaire title</label>
                <input type="text" v-model="questionnaire.title" id="questionnaire-title" class="form-control" placeholder="Enter Title">
                <span class="error-message" v-if="errors.title">{{ errors.title[0] }}</span>
            </div>
            <div class="form-group">
                <label for="questionnaire-description">Questionnaire description</label>
                <textarea v-model="questionnaire.description" id="questionnaire-description" class="form-control" placeholder="Enter Description"></textarea>
                <span class="error-message" v-if="errors.description">{{ errors.description[0] }}</span>
            </div>
            <div class="form-group">
                <label for="questionnaire-logo">Questionnaire logo</label> <br>
                <input type="file" @change="processImage($event)" id="questionnaire-logo"> <br>
                <span class="error-message" v-if="errors.image">{{ errors.image[0] }}</span>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</template>

<script>
    export default{
        name: 'create',

        data(){
            return{
                questionnaire: {
                    title: '',
                    description: '',
                    image: '',
                },
                errors: []
            }
        },

        methods:{

            processImage(event){
                this.questionnaire.image = event.target.files[0];
            },

            store(){
                this.errors = {};

                let formData = new FormData();
                for ( var key in this.questionnaire ) {
                    formData.append(key, this.questionnaire[key]);
                }

                axios.post('/api/questionnaires', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                })
                    .then((response) => {
                        console.log(response);
                        this.$router.push(`/questionnaires/${ response.data.questionnaire.id }`);
                    })
                    .catch((errors) => {
                        this.errors = errors.response.data;
                    });
            }
        }
    }
</script>