<template>
    <div id="questionnaire-list" class="row">
        <div class="btn-wrapper col-md-12">
            <router-link to="/questionnaires/create" class="btn btn-success btn-sm">New questionnaire</router-link>
        </div>
        <template v-if="questionnaires.length">
            <div class="col-md-4 questionnaire-block" v-for="questionnaire in questionnaires">
                <div class="card">
                    <img class="card-img-top" :src="questionnaire.image" alt="Card image cap" v-if="questionnaire.image">
                    <img class="card-img-top" src="/storage/images/website/question-mark.jpg" alt="Card image cap" v-else>
                    <div class="card-body">
                        <h5 class="card-title">{{ questionnaire.title }}</h5>
                        <p class="card-text"> {{ questionnaire.description | truncate(100) }} </p>
                        <router-link :to="`/questionnaires/${ questionnaire.id }`" class="btn btn-primary">View</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <pagination :data="laravelData" @pagination-change-page="getQuestionnaires"></pagination>
            </div>
        </template>
        <template v-else>
            <div class="col-md-12">
                No questionnaires yet
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: 'list',

        data(){
            return {
                laravelData: {},
            }
        },

        mounted(){
            this.getQuestionnaires(this.$route.query.page);
        },

        computed: {
            questionnaires(){
                return this.$store.getters.questionnaires;
            }
        },

        filters: {
            truncate(text, length) {
                return text.length <= length ? text : text.substring(0, length) + '...';
            },
        },

        methods: {
            getQuestionnaires(page = 1){
                axios.get(`/api/questionnaires?page=${ page }`)
                    .then((response) => {
                        this.laravelData = response.data.questionnaires;

                        this.$store.commit('updateQuestionnaires', this.laravelData.data);

                        if(this.laravelData.current_page === 1){
                            this.$router.push({'path': 'questionnaires'});
                        }else{
                            this.$router.push({query: { page: page }});
                        }
                    });
            }
        }
    }
</script>