<template>
    <div id="show-questionnaire" v-if="questionnaire">
        <div class="row">
            <div class="col-md-12 image" v-if="questionnaire.image">
                <img :src="questionnaire.image" :alt="questionnaire.title">
            </div>
            <div class="col-md-12 content">
                <h1>{{ questionnaire.title }}</h1>
                <p>{{ questionnaire.description }}</p>
            </div>
        </div>
        <div class="btn-wrapper text-right" v-if="currentUser.id == questionnaire.user_id">
            <router-link :to="`/questionnaires/${questionnaire.id}/edit/questions`" class="btn btn-primary">EDIT QUESTIONS</router-link>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'show',

        data(){
            return{
                questionnaire: null
            }
        },

        created(){
            if(this.questionnaires.length){
                this.questionnaire = this.questionnaires.find((questionnaire) => questionnaire.id == this.$route.params.id);

                if(!this.questionnaire){
                    this.getQuestionnaire();
                }
            }else{
                this.getQuestionnaire();
            }
        },

        computed: {
            questionnaires(){
                return this.$store.getters.questionnaires;
            },

            currentUser(){
                return this.$store.getters.currentUser;
            }
        },

        methods: {
            getQuestionnaire(){
                axios.get(`/api/questionnaires/${this.$route.params.id}`)
                    .then((response) => {
                        this.questionnaire = response.data.questionnaire;
                    })
            }
        }
    }
</script>